<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.colorimage">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true"
        android:requiredFeature="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Colorimage"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".carousel.CarouselActivity"
            android:exported="false"
            android:label="@string/drawings"
            />
        <activity
            android:name=".albums.AlbumsActivity"
            android:exported="false"
            android:label="@string/album"/>
        <activity
            android:name=".chat.ChatRoomActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="true"
            android:label="@string/profile_page_title" />
        <activity
            android:name=".svgcanvas.SVGCanvasActivity"
            android:exported="true" />
        <activity
            android:name=".rooms_list.RoomsListActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>