// .file-input {
//     display: none;
//   }

#avatar1 {
  background: url(../../../assets/av1.png);
  width: 100px;
  height: 100px;
}

#avatar2 {
  background: url(../../../assets/av2.png);
  width: 100px;
  height: 100px;
}

#avatar3 {
  background: url(../../../assets/av3.png);
  width: 100px;
  height: 100px;
}

#avatar4 {
  background: url(../../../assets/av4.png);
  width: 100px;
  height: 100px;
}

#avatar5 {
  background: url(../../../assets/av5.png);
  width: 100px;
  height: 100px;
}

#avatar0 {
  background: url(../../../assets/avatar0.png);
  width: 100px;
  height: 100px;
}

.special-word { 
  font-size: 0;
} 
//"../../../assets/color.png"