<!-- <input #image type="file" class="file-input"
       (change)="processFile(image)" #fileUpload>

<div class="file-upload">

   {{fileName || "No file uploaded yet."}}

    <button mat-mini-fab color="primary" class="upload-btn"
      (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
    </button>

</div> -->

<button mat-raised-button id="avatar1" value="avatar1" (click)="image($event.target)" ><span class='special-word'>1</span></button>
<button mat-raised-button id="avatar2" value="avatar2" (click)="image($event.target)" ><span class='special-word'>2</span></button>
<button mat-raised-button id="avatar3" value="avatar3" (click)="image($event.target)" ><span class='special-word'>3</span></button>
<button mat-raised-button id="avatar4" value="avatar4" (click)="image($event.target)" ><span class='special-word'>4</span></button>
<button mat-raised-button id="avatar5" value="avatar5" (click)="image($event.target)" ><span class='special-word'>5</span></button>
