.buto {
    // background-color: #592bc7;
    // color:azure;
}

// #confirmer {
//     left: 50%;
//     right: 50%;
// }

#updateButtons {
    margin-top: 10px;
    float: right;
}

#annulerDrawing {
    margin-right: 15px;
}

.opt {
    width: 100%;
}

#errorModifyDrawing {
    visibility: hidden;
    color: red;
}

// #confirmer {
//     background-color: #adebad;
// }

// #annulerDrawing {
//     background-color: #ff9999;
// }

// #roomIDButton {
//     width: 50%;
//     float: left;
//     margin-bottom: 15px;
//     background-color: #adebad;
// }

// #roomIDButtonDelete {
//     width: 50%;
//     float: right;
//     margin-bottom: 15px;
//     background-color: #ff9999;
// }