.listUsersText {
    float: left;
    width: 50%;
}

#userID {
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
} 

.listUsersButtons {
    float: right;
    width: 50%;
}

#userIDButton {
    width: 50%;
    float: left;
    margin-bottom: 15px;
    background-color: #2ad11a;
}

.special-word { 
    font-size: 0;
} 