.title {
    // background-color: #592bc7;
    // color: azure;
}

#title00 {
    margin-left: 50px;
    display: inline-block;
}

.center {
  padding: 70px 0;
  text-align: center;
}

#lightGrey {
    background-color: #d6dbdb;
    color: #000000;
}

#darkGrey {
    background-color: #545f5f;
    color: #ffffff;
}

#deepPurple {
    background-color: #592bc7;
    color: #ffffff;
}

#lightBlue {
    background-color: #80e5ff;
    color: #ffffff;
}

#lightPink {
    background-color: #ff99cc;
    color: #ffffff;
}

h3 {
    font-size: 40px;
    font-family: Arial;
}

h2 {
    font-size: 40px;
}

.all {
    margin-left: 10px;
}