#quit {
    float: right;
}

#quitAnnul {
    margin-right: 15px;

        padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 100px;
    border-radius: 0px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    text-decoration:none;
    border: none;
    outline: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

    height: 30px;
}

#part {
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 100px;
    border-radius: 0px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    text-decoration:none;
    border: none;
    outline: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

    height: 30px;
}