<h1>{{passTit}}</h1>
<!-- <div id="info3"> -->
    <div>
        <mat-form-field class="inputFind" floatLabel="always" appearance="outline">
            <mat-label>{{passTitle}}</mat-label>
            <input #enterPass matInput id="enterPass" type="text" name="enterPass" required [(ngModel)]="password2" placeholder="{{passTitle}}">
        </mat-form-field> 
        <p id="errorPass">{{error1}}</p>
    </div>

    <div id="updateButtons3">
        <button mat-raised-button id="annulerPass" class="buto" (click)="cancelPass()">{{cancelMotPass}}</button>
        <button mat-raised-button id="confirmer3" class="buto" (click)="enterPassword()">{{openMotPass}}</button>
    </div>
<!-- </div> -->
 
 